* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 300;
  color:#fff;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  box-sizing: content-box;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

p, ul, ol, figure {
  margin: 0 0 10px 0;
}

* + p, * + ul, * + ol , * + figure {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 0.67em;
}

a, .link {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.logo {
  width: 44px;
  height: 50px;
  display: flex;
  font-size: 30px;
}

.logo-img {
  margin: 0;
}

.gradient {
  padding: 11px;
  margin: 0;
  font-family: "Roboto - Thin";
  font-size: 30px;
  font-weight: 400;
  background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: table;
}

.gradient-icon {
  font-size: 50px;
  background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  display: table;
  text-align: center;
  margin-top: 39px;
}

@media (max-width: 960px)
.container {
    padding: 0 15px;
}