.button {
  padding: 15px;
  display: inline-flex;
  justify-content: center;
  font-size: 1rem;
  border: 1px solid #333333;
  color: #000;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.button-primary {
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 28px;
  background: none;
}
.button-primary:hover {
  border-color:  #ffffff;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  color: #ffffff;
  transition: 0.5sec;
}

.button-secondary {
  width: 70px;
  height: 45px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.5;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  font-size: 32px;
}

.button-secondary:hover {
  opacity: 1;
}

@media (max-width: 960px) {
  .button-primary,
  .button-secondary {
    width: 100%;
  }
}