.button-primary {
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
  background: none;
  transition: 0.5sec;
}
.button-primary:hover {
  border-color:  #ffffff;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  color: #ffffff;
  transition: 0.5sec;
}