.card {
  position: relative;
}

.card-image {

}

.card-description {

}

.card-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.card-expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  color: #413d4b;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.card-description {
  text-align: center;
  opacity: 0.75;
  color: #333333;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.7px;
  margin-bottom: 39px;
}