.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  padding: 0 10px;
}

.grid-hidden {
  margin: -2px;
}

.grid-indent {
  padding: 0 10px;
}


.grid-indent-xlarge .grid-item {
  padding: 0 50px;
}

.grid-indent-xlarge {
  margin: 0 -50px;
}

.grid-clients .grid-item {
  padding: 0 40px;
}

.grid-indent-medium {
  margin: 0 -12.5px;
}

.grid-indent-medium .grig-items {
  padding: 0 12.5px;
}

@media (max-width: 960px) {
  .grid-indent {
    margin: 0 -10px;
  }

  .grid-indent .grid-item {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .grid-indent-medium {
    margin: 0 -12.5px;
  }

  .grid-indent-medium .grig-items {
    padding: 0 12.5px;
  }

  .grid-indent-large {
    margin: 0 -20px;
  }

  .grid-indent-large .grid-items {
    padding: 0 20px;
  }

  .grid-indent-xlarge {
    margin: 0 -30px;
  }

  .grid-indent-xlarge .grid-item {
    padding: 0 30px;
  }
} 