.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  padding: 0 10px;
}

.grid-hidden {
  margin: -2px;
}

.grid-indent {
  margin: 0 -10px;
}

.grid-indent {
  padding: 0 10px;
}

.grid-indent-large .grid-item {
  padding: 0 50px;
}

.grid-indent-large {
  margin: 0 -50px;
}

.grid-clients .grid-item {
  padding: 0 40px;
}

.grid-gap-medium {
  margin: 0 -12.5px;
}

.grid-gap-medium .grig-items {
  padding: 0 12.5px;
}

@media (max-width: 960px)
.grid-indent-large {
    margin: 0 -30px;
}

@media (max-width: 960px)
.grid-clients {
    margin: 0 -20px;
}

@media (max-width: 960px)
.grid-clients .grid-item {
    padding: 0 20px;
}

@media (max-width: 960px)
.grid-gap-medium {
    margin: 0 -12.5px;
}

@media (max-width: 960px)
.grid-gap-medium .grig-items {
    padding: 0 12.5px;
}